<div class="flex h-screen overflow-hidden bg-gray-50">
  <!-- Sidebar -->
  <app-sidebar [navigationMenu]="navigationMenu" [role]='role' class="fixed inset-y-0 left-0 z-30"></app-sidebar>
  <div class="flex-1 flex flex-col overflow-hidden ml-64">
    <!-- Top Navigation -->
    <!-- <app-nav-dashboard></app-nav-dashboard> -->

    <!-- Content Area -->
    <div class="overflow-auto">
       <router-outlet></router-outlet>
       <!-- <div class="flex-1 p-4 md:p-6 space-y-6 overflow-auto">
        <app-kpi-cards></app-kpi-cards>
        <app-charts></app-charts>
      </div> -->
  </div>
</div>
</div>
